@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Timely application</h2>
        </div>
        <div class="wrapper" ng-controller="HomeController" ng-hide="disableIndexButton" >
            <a href="#!/startTimer"  onclick="this.style.visibility = 'hidden'" class="button btn">Start</a>
        </div>      
    </div>
    <div ng-view></div>
</div>
@section Scripts{
    <script src="~/js/Scripts/Controller/HomeController.js"></script>
    <script src="~/js/Scripts/Controller/EditLogController.js"></script>
    <script src="~/js/Scripts/Controller/AddLogController.js"></script>
    <script src="~/js/Scripts/Service/HttpRequestServices.js"></script>   
}
